/* FOLLOWER/FOLLOWING PAGE */

  .light-hover:hover {
    background-color: whitesmoke;
  }
  
  .primary-color-hover:hover {
    color:#4285F4;
  }

  .outline-primary {
    color: #4285F4;
    background-color: white;
    border-color: #4285F4;
  }
  