a {
  text-decoration: none;
  color: #0076ff;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-color{
  color: #00A8E8
}

.fullheight-container {
  min-height: 100vh;
}


.pointer:hover {
  cursor: pointer;
}

.tab-min-height{
  min-height: 20vh
}

.link-style {
  color: black;
}

.link-style:hover {
  color:#4285F4;
  text-decoration: underline;
}

.link-active {
  text-decoration: underline;
  text-decoration-color:#00A8E8;
  text-decoration-thickness: 1%;
}

.arrow:hover {
  background-color: whitesmoke;
  padding: .5rem;
  border-radius: 2rem;
}

.liked-by-me {
  border-width: 1px!important;
  border-color: #dc3545!important;
  background-color: transparent!important;
  box-shadow: none!important;
  color: #dc3545!important;
}

.liked-by-me:active:hover {
  box-shadow: 0 0 0 0.1rem rgba(220,53,69, .5)!important;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.liked-by-me:active:hover::after {
    opacity: 1;
}

.not-liked-by-me {
  border-width: 1px;
  border-color: transparent!important;
  background-color: transparent!important;
  box-shadow: none!important;
  color: #000!important;
}

.not-liked-by-me:active:hover {
  box-shadow: 0 0 0 0.1rem rgba(220,53,69, .5)!important;
  color: #dc3545!important;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.not-liked-by-me:active:hover::after {
    opacity: 1;
}


/* EXPLORE PAGE */

.info-container {
  background-color: #003459;
  color: #fff
}

.info-container h1 {
  font-family: Luckiest Guy, sans-serif;
  font-size: 4.5rem;
  word-break: break-word;
  word-wrap: break-word;
}

.info-container p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-transform: none;
}

.card-body:hover{
  background-color: #f8f9fa;
}

.btn-primary.custom-btn {
  background-color: #00A8E8;
}

.btn-primary.custom-btn:hover {
  background-color: #007EA7;
}

.btn-secondary {
  background-color: white;
  color:#00A8E8;
  border-color:#00A8E8
}

.btn-secondary:hover {
  background-color: #00A8E8;
  color: white;
}

/* Form PFP */
.delete-icon {
  font-size: 15px;
}

.delete-icon:hover {
  color: red;
}
/* Used for testing UI */
.red-border {
  border: red solid 2px;
}

.blue-border {
  border: blue solid 2px;
}

.green-border {
  border: green solid 2px;
}

.yellow-border {
  border: yellow solid 2px;
}

.w-min-100 {
  min-width: 100vw;
}

.h-min-100 {
  min-height: 100vh;
}

/* luckiest-guy-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/luckiest-guy/luckiest-guy-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/luckiest-guy/luckiest-guy-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/luckiest-guy/luckiest-guy-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/luckiest-guy/luckiest-guy-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/luckiest-guy/luckiest-guy-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/luckiest-guy/luckiest-guy-v18-latin-regular.svg#LuckiestGuy') format('svg'); /* Legacy iOS */
}

