body {
  margin: 0;
  font-family: Roboto, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-color{
  color: #00A8E8
}

.fullheight-container {
  min-height: 100vh;
}

.tab-min-height{
  min-height: 20vh
}

.link-style {
  color: black;
}

.link-style:hover {
  text-decoration: underline;
  text-decoration-thickness: 15%;
}

.link-active {
  text-decoration: underline;
  text-decoration-color:#00A8E8;
  text-decoration-thickness: 20%;
}


/* EXPLORE PAGE */

.info-container {
  background-color: #003459;
  color: #fff
}

.info-container h1 {
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 72px;
  text-transform: none;
}

.info-container p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-transform: none;
}

.card-body:hover{
  background-color: #f8f9fa;
}

.btn-primary.custom-btn {
  background-color: #00A8E8;
}

.btn-primary.custom-btn:hover {
  background-color: #007EA7;
}

/* Form PFP */
.delete-icon {
  font-size: 15px;
}

.delete-icon:hover {
  color: red;
}
/* Used for testing UI */
.red-border {
  border: red solid 2px;
}

.blue-border {
  border: blue solid 2px;
}

.green-border {
  border: green solid 2px;
}

.yellow-border {
  border: yellow solid 2px;
}

.w-min-100 {
  min-width: 100vw;
}

.h-min-100 {
  min-height: 100vh;
}

/* FOLLOWER/FOLLOWING PAGE */

.follow-container {
  max-width: 50vw;
}

.light-hover:hover {
  background-color: whitesmoke;
}

.primary-color-hover:hover {
  color:#00A8E8;
}

@media(max-width: 1200px){
  .follow-container {
    max-width: 70vw;
  }
}

@media(max-width: 80px){
  .follow-container {
    max-width: 80vw;
  }
}

@media(max-width: 650px){
  .follow-container {
    max-width: 100vw;
  }
}
